<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joker.flowershop">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login_title" />
        <activity
            android:name=".ui.SignUpActivity"
            android:label="@string/sign_up_title" />
        <activity
            android:name=".ui.qrcode.ScanActivity"
            android:label="@string/scan_title" />
        <activity android:name=".ui.qrcode.ScanResultActivity" />
        <activity android:name=".ui.FlowerDetailActivity" />
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/setting_title" />
        <activity
            android:name=".ui.order.CreateOrderActivity"
            android:label="@string/create_order_title" />
        <activity
            android:name=".ui.subject.SubjectActivity"
            android:label="@string/subject_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ShoppingCartActivity"
            android:label="@string/shopping_cart_title" />
        <activity
            android:name=".ui.order.OrderActivity"
            android:label="@string/order_title" />
        <activity android:name=".ui.CityPickerPopActivity" />
        <activity
            android:name=".ui.order.OrderStatusPopActivity"
            android:theme="@style/MyPopActivityTheme" />
        <activity android:name=".ui.CreateNewAddressActivity"
            android:label="@string/create_address_title"/>
    </application>

</manifest>